check process {{ name }}
{% if pidfile %}
  with pidfile {{ pidfile }}
{% else %}
  matching "{{ name }}"
{% endif %}
  start program = "{{ start }}"
  stop program = "{{ stop }}"
{% for rule in rules %}
  {{ rule }}
{% endfor %}
